-r requirements.txt

Faker==8.9.1  # https://faker.readthedocs.io/en/master/
pre-commit==2.13.0
black==22.1.0
django-debug-toolbar  # https://django-debug-toolbar.readthedocs.io/en/latest/installation.html
